
@{
    ViewBag.Title = "Confirmation";
}

<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading panel-heading-color panel-heading-color-primary">
           <span class="title">Confirmation</span><span class="icon s7-home"></span><span class="panel-subtitle"></span>
        </div>
        <div class="panel-body">
            <p> Household invitation sent.</p>
        </div>
    </div>
</div>

